.animated-background {
  background-image: url('/src/assets/back4.jpeg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

