@keyframes move-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

div.bg-[url('/src/assets/back6.jpeg')] {
  animation: move-background 10s linear infinite;
}